a {
  text-decoration: none !important;
  margin: 20px;
}

.completed {
  text-decoration: line-through;
}

table {
  color: black;
  text-align: center;
  border: 1px solid;
  /* border-collapse: collapse; */
}
th {
  /* border: 1px solid indigo; */
  text-align: center;
  border: 1px solid;
  color: black;
}
td {
  width: 6vw;
  height: 3vh;
  border: 1px solid;
  text-align: center;
  border: 1px solid;
  color: blue;
}
